/* Raleway */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}
/* Rubik */
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
}

.logo {
    display: block;
    width: 145px;
    margin: 15px 60px 28px;
    padding: 2px;
}

.logo:hover {
    opacity: 0.6;
}

.logo:focus {
    outline: 2px solid #AF4FFF;
}

.logo:active {
    opacity: 0.3;
}

.header {
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    width: 1160px;
    height: 300px;
    margin: 0 auto;
    color:#000000;
    background-color:#FFE17F;
}

.header-catalog {
    height: 186px;
}

.header-shift {
    position: relative;
    top: -40px;
}

.header-user {
    display: flex;
    margin: 0 auto 30px;
    padding: 0;
    width: 1040px;
    justify-content: space-between;
    list-style-type: none;
}

.search-form {
    position: relative;
    display: flex;
    width: 517px;
    height: 40px;
    background-image: url(../images/header/icons-search.svg);
    background-repeat: no-repeat;
    background-position: left 16px top 50%;
}

.search-form:focus {
    outline: 2px solid #AF4FFF;
}

.search-text {
    width: 359px;
    height: 40px;
    padding: 0;
    padding-left: 48px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50px 0px 0px 50px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background-color: transparent;
}

.search-text:focus {
    outline: 2px solid #AF4FFF;
}

::placeholder {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.search-button {
    width: 160px;
    height: 40px;
    margin-left: -2px;
    padding: 0;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 0px 50px 50px 0px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    cursor: pointer;
}

.search-button:hover {  
    background-color: #000000;
    color: #FFFFFF;
}

.search-button:focus {
    outline: 2px solid #AF4FFF;
}

.search-button:active {
    background-color: #000000;
    color: #FFFFFF;
    opacity: 0.3;
}

.header-user-item {
    margin-right: 26px;
}

.header-user-link:hover {
    opacity: 0.6;
}

.header-user-link:focus {
    outline: 2px solid #AF4FFF;
}

.header-user-link:active {
    opacity: 0.3;
}

.account:hover .user {
    opacity: 0.6;
}

.account:focus {
    outline: 2px solid #AF4FFF;
}

.account:active .user {
    opacity: 0.6;
}

.header-user-item:nth-child(2) {
    width: 81px;
}

.header-user-item:nth-child(3) {
    margin-left: auto;
    margin-right: 18px;
}

.header-user-item:last-child {
    margin-right: 0;
}
    
.navigation-user-link-out {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    opacity: 0.3;
    text-decoration: none;
}

.user {
    margin: 5px 0;
    padding-left: 27px;
    min-width: 146px;
    font-weight: 400;
    background-image: url(../images/header/icons-cabinet.svg);
    background-repeat: no-repeat;
    background-position: left top 50%;
}

.header-user-link {
    display: block;
    margin: 5px 0;
    padding-left: 27px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.header-user-link-out {
    display: block;
    width: 56px;
    height: 30px;
    margin: 5px 0;
    opacity: 0.3;
    text-decoration: none;
}

.header-user-item:nth-child(2) .header-user-link {
    background-image: url(../images/header/icons-cabinet.svg);
    background-repeat: no-repeat;
    background-position: left top 50%;
}

.header-user-item:nth-child(3) .header-user-link {
    padding-left: 22px;
    background-image: url(../images/header/icons-compare.svg);
    background-repeat: no-repeat;
    background-position: left top 50%;
}

.header-user-item:nth-child(4) .header-user-link {
    padding-left: 45px;
    background-image: url(../images/header/icons-basket.svg);
    background-repeat: no-repeat;
    background-position: left top 50%;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-left: 60px;
    padding: 0;
    width: 1040px;
    list-style-type: none;
}

.navigation-list-item {
    display: flex;
    margin-right: 45px;
}

.navigation-list-link:hover {
    opacity: 0.6;
}

.navigation-list-link:focus {
    outline: 2px solid #AF4FFF;
}

.navigation-list-link:active {
    opacity: 0.3;
}

.navigation-list-item:nth-child(1):hover .navigation-list-button {
    opacity: 1.0;
}

.navigation-list-item:nth-child(1):focus {
    outline: 2px solid #AF4FFF;
}

.navigation-list-item:last-child,
.navigation-list-item:nth-child(1) {
    margin-right: 0;
}

.navigation-list-item:nth-child(2) {
    margin-left: auto;
}

.navigation-list-link,
.navigation-link-catalog {
    display: block;
    margin: 15px 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #000000;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-list-item:nth-child(1) > .navigation-list-link {
    width: 236px;
    padding-right: 7px;
}

.header-user-link {
    position: relative;
}

.header-user-link .navigation-list-link {
    min-width: 20px;
    min-height: 16px;
}

.navigation-list-button {
    padding: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 50%;
    opacity: 0.3;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.navigation-list-button::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 2px;
    background-color: #000000;
    top: 50%;
    left: 15px;
}

.navigation-list-button::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 16px;
    background-color: #000000;
    top: 16px;
    left: 22px;
}

.search-icon {
    position: absolute;
    top: 12px;
    right: 0;
    bottom: 0;
    left: 16px;
    margin-right: auto;
    fill: #000000;
}

.navigation-icon {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: auto;
    padding-right: 12px;
    fill: #000000;
}

.icon-basket-quantity {
    position: absolute;
    top: 4px;
    right: 0;
    bottom: 0;
    left: -16px;
    margin-right: auto;
    padding: 5px 7px;
    fill: #000000;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.main-container {
    position: relative;
    top: -110px;
    flex-grow: 1;
}

.main-inner {
    top: 0px;
    margin-top: 35px;
}

.page-container {
    width: 1160px;
    margin: 0 auto 172px;
    background-color: #ffffff transparent;
    background-size: 100% auto;
}

.carousel-products {
    margin: 0 0 70px;
    padding: 0;
    width: 1160px;
}

.carousel {
    position: relative;
    margin: 0 auto;
}

.slider-control {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 211px;
    left: 30px;
    width: 530px;
}

.slider-button {
    width: 20px;
    height: 60px;
    border: none;
    background-color: transparent;
    background-image: url(../images/carousel/arrow.svg);
    cursor: pointer;
    z-index: 100;
}

.slider-button:hover {
    opacity: 0.6;
}

.slider-button:focus {
    outline: 2px solid #AF4FFF;
}

.slider-button:active {
    opacity: 0.3;
}

.slider-next {
    transform: rotate(180deg);
}

.slider-pagination-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 0;
    margin-right: 20px;
    cursor: pointer;
    border-color: #000000;
}

.slider-pagination-button:hover {
    opacity: 0.6;
}

.slider-pagination-button:focus {
    outline: 2px solid #AF4FFF;
}

.slider-pagination-button:active {
    opacity: 0.3;
}

.slider-pagination-button:last-child {
    margin-right: 0;
}

.slider-pagination-current {
    background-color: #000000;
}

.slider {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.carousel-products-number {
    position: absolute;
    top: 85px;
    right: 49px;
    width: 250px;
    height: 135px;
    font-weight: 700;
    font-size: 180px;
    text-align: right;
    color: #FFFFFF;
    z-index: 0;
}

.slider-item {
    position: relative;
    display: flex;
    width: 1160px;
    list-style-type: none;
}

.slider-image {
    width: 560px;
    margin-right: 40px;
}

.slider-description {
    position: relative;
    z-index: 10;
    width: 560px;
    list-style-type: none;
}

.slider-title {
    margin: 121px 0 29px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.slider-text {
    margin: 0 0 51px;
    color: #444444;
}

.pagination-button {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 76px;
    top: 362px;
    right: 0;
    z-index: 100;
}

.button {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

.button-about-slider {
    position: relative;
    width: 220px;
    height: 40px;
    box-sizing: border-box;
    z-index: 0;
    margin-bottom: 49px;
}

.button-about-slider:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 16px;
    left: 0;
    width: 220px;
    height: 8px;
    background-color: #FFE17F;
}

.button-about-slider:hover {
    background-color: #FFE17F;
}

.button-about-slider:focus {
    outline: 2px solid #AF4FFF;
}

.button-about-slider:active {
    background-color: #FFCC33;
}

.table-row-1 {
    padding: 0;
    padding-bottom: 12px;
    font-size: 36px;
}

.table-row-2 {
    padding: 0;
    font-size: 16px;
    color: #444444;
    padding-right: 20px;
}

.categories {
    width: 1160px;
    margin: 0 auto;
    background-color: #ffffff;
    background-size: 100% auto;
    margin-bottom: 70px;
}
    

.list-categories {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.list-categories-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-decoration: none;
    color: #000000;
}

.list-categories-item {
    width: 160px;
    height: 253px;
}

.list-categories-item:hover .categories-item {
    background-color: #FFC700;
}

.list-categories-item:focus .categories-item {
    outline: 2px solid #AF4FFF;
}

.list-categories-item:active {
    opacity: 0.3;
}

.categories-item {
    display: block;
    margin-bottom: 32px;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-repeat: no-repeat;
    background-position: center;
}

.list-categories-item-virtual {
    background-image: url(../images/catalog/catalog-images-1.svg);
}

.list-categories-item-monopod {
    background-image: url(../images/catalog/catalog-images-2.svg);
}

.list-categories-item-cameras {
    background-image: url(../images/catalog/catalog-images-3.svg);
}

.list-categories-item-bracelets {
    background-image: url(../images/catalog/catalog-images-4.svg);
}

.list-categories-item-watches {
    background-image: url(../images/catalog/catalog-images-5.svg);
}

.list-categories-item-quadcopter {
    background-image: url(../images/catalog/catalog-images-6.svg);
}

.information {
    position: relative;
    background-color: #F0F0F0;
    background-size: 100% auto;
    margin-bottom: 70px;
}

.information-shift {
    position: absolute;
    top: -102px;
}

.information-container {
    position: relative;
    display: flex;
    width: 1160px;
    height: 319px;
    margin: 0 auto;
}

.information-title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    margin: 0 123px 0 0;
    padding: 64px 0 65px;
}

.information-title::after {
    content:'';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 7px;
    background-color: #000000;
    left: 280px;
}

.information-button {
    display: block;
    width: 280px;
    height: 40px;
    margin: 0;
    padding: 10px 115px 10px 0px;
    border: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.information-button-action {
    color: #FFE17F;
    background-color: #000000;
}

.information-item:nth-child(1) .information-button:before {
    content: none;
}

.information-item {
    width: 280px;
    height: 40px;
    list-style-type: none;

}

.information-item:last-child {
    margin: 0;
}

.information-button::before {
    content: '';
    position: absolute;
    top: 16px;
    left: 0;
    width: 160px;
    height: 8px;
    background-color: #FFE17F;
    z-index: -1;
}

.information-description {
    display: flex;
    width: 694px;
}

.description-block-text {
    max-width: 475px;
}

.information-description-title {
    display: block;
    margin: 72px 0 34px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.information-description-text {
    margin: 0;
    color: #444444; 
}

.information-image {
    margin: 77px 0 0 auto;
}

.delivery {
    margin: 0 auto;
    width: 1160px;
    height: 100px;
    display: flex;
    background-color: #F0F0F0;
    margin-bottom: 70px;
}

.delivery-under-order {
    display: flex;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    background-color: #F0F0F0;
    width: 1160px;
    height: 100px;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
}

.delivery-image {
    width: 125px;
    height: 100px;
    background-color: #FFE17F;
 }
 
 .delivery-image-car {
     margin: 35px 39px;
 }

.delivery:hover .delivery-image {
    background-color: #FFC700;
}

.delivery:hover .delivery-image-info {
    opacity: 1.0;
}

.delivery:focus {
    outline: 2px solid #AF4FFF;
}

.delivery:active {
    opacity: 0.3;
}

.delivery-text {
    margin: 0;
    padding-top: 40px;
}

.image-info {
    width: 40px;
    height: 40px;
    margin: 30px 42.5px;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 50%;
}

.delivery-image-info {
    display: block;
    padding: 14px 19px;
    opacity: 0.3;
}

.about-contacts {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.about {
    width: 520px;
    margin-right: 108px;
    position: relative;
}

.about::before {
    content: '';
    position: absolute;
    width: 84px;
    height: 7px;
    background-color: #000000;
}

.contacts {
    width: 532px;
}

.contacts::before {
    content: '';
    position: absolute;
    width: 84px;
    height: 7px;
    background-color: #000000;
}

.about-title {
    margin: 47px 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.about-description {
    margin: 0 0 30px;
    color: #444444;
}

.about-transport-company {
    margin: 0 0 30px;
    padding: 0;
}

.about-transport-company-item {
    margin-bottom: 19px;
    margin-left: 20px;
    line-height: 20px;
    letter-spacing: -0.02em;
    font-weight: 700;
}

.about-transport-company-item:last-child {
    margin-bottom: 0;
}

.button-about {
    position: relative;
    width: 270px;
    height: 40px;
}

.button-about:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 16px;
    width: 270px;
    height: 8px;
    background-color: #FFE17F;
}

.button-about:hover {
    background-color: #FFE17F;
}

.button-about:focus {
    background-color: #FFE17F;
}

.button-about:active {
    background-color: #FFCC33;
}

.button-about-contact {
    position: relative;
    width: 259px;
    height: 40px;
}

.button-about-contact:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 16px;
    width: 259px;
    height: 8px;
    background-color: #FFE17F;
}

.button-about-contact:hover {
    background-color: #FFE17F;
}

.button-about-contact:focus {
    background-color: #FFE17F;
}

.button-about-contact:active {
    background-color: #FFCC33;
}

.about-text {
    display: block;
    padding: 10px;
}

.contacts-title {
    margin: 47px 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.contacts-text {
    margin: 0 0 30px;
    font-style: normal;
    color: #444444;
}

.contacts-address {
    margin-bottom: 30px;
}

.contacts-address-text {
    margin: 0;
    font-style: normal;
    color: #444444;
}

.contacts-subtitle {
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 24px;
    color: #444444;
}

.contacts-phone {
    font-style: normal;
    color: #444444;
}

.contacts-schedule {
    margin: 0 0 30px;
    padding: 0;
    color: #444444;
    list-style-type: none;
}

.subscribe {
    background-color: #F0F0F0;
    background-size: 100% auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 0 auto;
}

.subscribe-row {
    display: flex;
    margin: 0 auto 144px;
}

.subscribe-title {
    width: 348px;
    margin: 64px 252px 0 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.subscribe-text {
    width: 560px;
    margin: 74px 0 0;
    color: #444444;
}

.subscribe-form {
    display: flex;
    margin-bottom: 56px;
    color: #444444;
}

.text-email {
    width: 557px;
    height: 54px;
    padding: 0;
    border: 0;
    border-bottom: 3px solid #C4C4C4;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    opacity: 0.5;
    background-color: transparent;
}

.subscribe-button {
    width: 253px;
    height: 57px;
    padding: 0;
    border: 3px solid #CECECE;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    font-size: 18px;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
}

.subscribe-free {
    width: 160px;
    height: 30px;
    margin: 13.5px 0 0 auto;
    text-align: end;
    color: #444444;
    background-image: url(../images/main/icon-tick.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.page-footer {
    background-color: #444444;
    background-size: 100% auto;
}

.page-footer-container {
    width: 1160px;
    margin: 0 auto;
}

.footer-logo {
    width: 145px;
    margin-top: 62px;
    margin-bottom: 35px;
}

.footer-logo:hover {
    opacity: 0.6;
}

.footer-logo:focus {
    outline: 2px solid #AF4FFF;
}

.footer-logo:active {
    opacity: 0.3;
}

.footer-information {
    display: flex;
    margin-bottom: 47px;
}

.footer-information-address {
    width: 239px;
    max-height: 40px;
    margin-right: 112px;
}

.footer-address-text {
    margin: 0;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer-information-list {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-information-item {
    display: block;
    max-width: 128px;
    height: 21px;
    margin-right: 35px;
}

.footer-information-item:last-child {
    margin-right: 0;
}

.footer-information-button {
    display: block;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-information-button:hover {
    color: #FFC700;
    padding-bottom: 4px;
    border-bottom: 2px solid #FFC700;
}

.footer-information-button:focus {
    outline: 2px solid #AF4FFF;
}

.footer-information-button:active {
    color: #FFC700;
    padding-bottom: 4px;
    border-bottom: 2px solid #FFC700;
    opacity: 0.3;
}

.footer-information-contacts {
    width: 174px;
    height: 20px;
    margin-left: auto;
}

.footer-information-contacts-phone {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer-information-contacts-phone:hover {
    color: #FFC700;
}

.footer-information-contacts-phone:focus {
    outline: 2px solid #AF4FFF;
}

.footer-information-contacts-phone:active {
    color: #FFC700;
    opacity: 0.3;
}


.footer-social {
    display: flex;
    margin-bottom: 46px;
}

.footer-social::before {
    position: absolute;
    content: '';
    order: 2;
    width: 80px;
    height: 7px;
    margin-top: 16.5px;
    margin-left: 0px;
    background-color: #FFC500;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 390px 0 505px;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    width: 40px;
    height: 40px;
    order: 3;
    margin-right: 15px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

.footer-social-link {
    position: relative;
    display: block;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-social-link:hover {
    background-color: #FFC700;
}

.footer-social-link:focus {
    outline: 2px solid #AF4FFF;
}

.footer-social-link:active {
    background-color: #FFC700;
    fill-opacity: 0.3;
}

.footer-social-facebook {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #444444;
}

.footer-social-instagram {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #444444;
}

.footer-social-twitter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #444444;
}

.footer-social-htmlacademy {
    width: 115px;
    height: 33px;
    margin: 0;
}

.footer-logo-html {
    fill: #FFC700;
}

.footer-social-htmlacademy:hover .footer-logo-html  {
    fill: #FFFFFF;
}

.footer-social-htmlacademy:focus {
    outline: 2px solid #AF4FFF;
}

.footer-social-htmlacademy:active .footer-logo-html {
    fill: #FFFFFF;
    opacity: 0.3;
}

.account {
    display: flex;
    min-width: 203px;
    cursor: pointer;
}

.inner-header {
    width: 1040px;
    margin: 35px auto;
}

.inner-header-title {
    width: 541px;
    margin: 0 0 16px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalog-products-monopod {
    background-color: #F0F0F0;
    background-size: 100% auto;
}

.catalog {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.breadcrumbs-item {
    position: relative;
    height: 19px;
    display: block;
}

.breadcrumbs-item::after {
    position: absolute;
    width: 4px;
    height: 7px;
    background-image: url(../images/catalog/arrow-little.svg);
    content: "";
    right: 16px;
    bottom: 6px;
}

.breadcrumbs-item:last-child::after {
    content: none;
}

.breadcrumbs-link {
    display: block;
    height: 19px;
    margin-right: 36px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    list-style-type: none;
    text-decoration: none;
}

.catalog-right-column {
    width: 840px;
    background-color: #FFFFFF;
}

.catalog-products-monopod-text {
    margin: 25px 0 60px 60px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.catalog-filter {
    margin: 0;
    padding: 0;
    border: none;
}

.catalog-filter-monopod {
    margin: 0 0 35px 60px;
    padding: 12px 0 0 0;
    border: none;
}

.catalog-filter-monopod-title {
    margin-bottom: 30px;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.range-scale {
    position: relative;
    width: 200px;
    height: 2px;
    margin-bottom: 15px;
    background-color: #DCDCDC;
}

.range-bar {
    position: absolute;
    height: 2px;
    background-color:  #000000;
}

.range-toggle {
    position: absolute;
    width: 18px;
    height: 18px;
    padding: 0;
    background-color: #EBEBEB;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle:hover {
    border-color: rgba(0, 0, 0, 0.5);
}

.range-toggle:focus {
    outline: 2px solid #AF4FFF;
}

.range-toggle:active {
    background-color: #000000;
}

.toggle-min {
    top: -8px;
    left: -10px;
}

.toggle-max {
    top: -8px;
    left: 110px;
}

.catalog-filter-label {
    position: absolute;
    top: 20px;
    left: -20px;
    display: flex;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
    text-align: end;
}

.range-input {
    width: 30px;
    padding: 0 2px;
    font-size: 15px;
    line-height: 18px;
    border: none;
    color: #000000;
    background-color: transparent;
    appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-show-filter {
    width: 220px;
    height: 40px;
    margin-left: 60px;
    text-align: center;
    padding: 10px 0;
    border: none;
    position: relative;
    z-index: 5;
}

.button-show-filter::after {
    position: absolute;
    content: '';
    width: 220px;
    height: 8px;
    background-color: #FFE17F;
    left: 0px;
    top: 16px;
    z-index: -1;
}   

.button-show-filter:hover {
    background-color: #FFE17F;
}

.button-show-filter:focus {
    background-color: #FFCC33;
}

.button-show-filter:active {
    outline: 2px solid #AF4FFF;
}

.catalog-filter-monopod-list {
    padding: 0;
    list-style-type: none;
}

.catalog-products-monopod-text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.catalog-right-column-text {
    margin: 25.5px 0 0 40px;
}

.sorting-container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #F0F0F0;
}

.select-control {
    width: 159px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.catalog-products-sorting {
    display: flex;
    width: 60px;
    height: 30px;
    margin: 20px 40px 0 0;
}

.catalog-products-monopod-sorting {
    width: 30px;
    height: 30px;
    background-image: url(../images/catalog/arrow-sorting.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.2;
}

.catalog-products-monopod-sorting:last-child {
    transform: rotate(180deg);
}

.catalog-products-monopod-sorting:hover {
    opacity: 0.5;
}

.catalog-products-monopod-sorting:focus {
    outline: 2px solid #AF4FFF;
}

.catalog-products-monopod-sorting:active {
    opacity: 1.0;
}

.product-list {
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 44px 40px;
    margin: 0;
    padding: 70px 40px 44px;
    background-color: #FFFFFF;
    list-style-type: none;
}

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.label-new {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 27px;
    right: 27px;
    background-image: url(../images/catalog/label-new.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.product-card-detailed {
    position: absolute;
    width: 360px;
    height: 380px;
    top: 0px;
    left: 0px;
    background-color: #F0F0F0;
    opacity: 0.8;
    z-index: 10;
    cursor: pointer;
}

.product-card-link::before {
    position: absolute;
    content: "";
    width: 220px;
    height: 8px;
    top: 16px;
    left: 0px;
    background-color: #FFE17F;
    z-index: -1;
}

.card-detailed-close {
    display: none;
}

.product-card:hover .card-detailed-close {
    display: block;
}

.product-card:hover .product-card-content {
    opacity: 0.6;
}

.product-card:focus {
    outline: 2px solid #AF4FFF;
}

.product-card:active .card-detailed-close {
    display: block;
}

.product-card:active .product-card-link::before {
    background-color: #FFC700;
}

.product-card:active .product-card-content {
    opacity: 0.3;
}

.product-card-link {
    position: absolute;
    text-decoration: none;
    min-height: 40px;
    width: 220px;
    height: 40px;
    padding: 10px 5px;
    top: 170px;
    left: 70px;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    z-index: 10;
}

.product-card-content {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.product-card-title {
    margin: 0;
    width: 240px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.product-card-price {
    font-size: 18px;
    line-height: 21px;
    color: #444444;
}

.button-pagination-show-more {
    width: 760px;
    height: 55px;
    margin: 0 0 44px 40px;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    border: none;
    background: #FFFFFF;
    border: 3px solid #E5E5E5;
}

.pagination {
    display: flex;
    margin: 0 0 78px 40px;
    padding: 0;
    width: 760px;
    height: 71px;
    list-style-type: none;
    background-color: #EBEBEB;
    opacity: 0.71;
}

.pagination-item {
    display: flex;
}

.pagination-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 71px;
    margin-right: 145.5px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.pagination-prev:hover {
    background-color: #DCDCDC;
}

.pagination-prev:focus {
    outline: 2px solid #AF4FFF;
}

.pagination-prev:active {
    opacity: 0.3;
}

.pagination-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 71px;
    margin-left: 145.5px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-next:hover {
    background-color: #DCDCDC;
}

.pagination-next:focus {
    outline: 2px solid #AF4FFF;
}

.pagination-next:active {
    opacity: 0.3;
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-top: 15.5px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    opacity: 0.3;
    text-decoration: none;
    cursor: pointer;
}

.pagination-link:hover {
    opacity: 1.0;
}

.pagination-link:focus {
    outline: 2px solid #AF4FFF;
}

.pagination-link:active {
    opacity: 0.1;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.9);
    z-index: 200;
}

.modal {
    position: relative;
    margin: auto;
    padding: 72px 80px;
    background-color: #FFFFFF;
    border: 10px solid #000000;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-order {
    width: 760px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 84px;
    right: 80px;
    width: 26px;
    height: 26px;
    background-color: #FFFFFF;
    border: none;
    background-image: url(../images/modal/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal-close-button:hover {
    opacity: 0.6;
}

.modal-close-button:focus {
    outline: 2px solid #AF4FFF;
}

.modal-close-button:active {
    opacity: 0.3;
}

.order-form {
    display: grid;
    grid-template-columns: 360px 140px 180px;
    gap: 42px 40px;
}

.modal-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin: 0px 236px 42px 0;
}

.order-form-email {
    grid-column: 2 / -1;
}

.order-form-request {
    grid-column: 1 / 3;
}

.order-send {
    grid-column: 1 / -1;
    justify-self: start;
}

.field-group {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.order-text {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    margin-bottom: 14px;
}

.order-form-field {
    background-color: #F0F0F0;
    border: none;
    height: 60px;
    padding: 0;
    padding-left: 20px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.field-icon-email {
    background-image: url(../images/modal/icon-email.svg);
    background-repeat: no-repeat;
    background-position: top 24px right 20px;
}

.field-icon-name {
    background-image: url(../images/modal/icons-cabinet.svg);
    background-repeat: no-repeat;
    background-position: top 24px right 20px;

}

.order-send {
    position: relative;
    width: 200px;
    padding: 10px 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    z-index: 5;
}

.order-send::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 8px;
    top: 16px;
    left: 0;
    background-color: #FFE17F;
    z-index: -1;
}

.order-send:hover {
    background-color: #FFE17F;
}

.order-send:focus {
    outline: 2px solid #AF4FFF;
}

.order-send:active {
    background-color: #FFCC33;
}

.order-form-quantity {
    position: relative;
}

.field-quantity {
    text-align: center;
    padding: 0;
}

.order-number-minus,
.order-number-plus {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    margin-top: 34px;
    padding: 29px 22px;
    text-decoration: none;
    box-sizing: border-box;
}

.order-number-plus {
    right: 0;
}

.order-number-minus::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    background-color: #000000;
}

.order-number-plus::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    background-color: #000000;
}

.order-number-plus::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 16px;
    top: 22px;
    left: 29px;
    background-color: #000000;
}

.order-form-field::placeholder {
    opacity: 0.3;
}

.modal-container-close {
    display: none;
}