/* Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1160px;
  min-height: 186px;
  margin: 0 auto;
  color: #000000;
}

.header-catalog {
  padding-bottom: 32px;
  background-color: #ffe17f;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 40px, rgba(255, 225, 127, 1) 40px);
}

.header-logo {
  display: block;
  width: 145px;
  height: 36px;
  margin: 17.5px 60px 30px;
}

.header-logo:focus {
  outline: 2px solid #af4fff;
}

.logo {
  display: block;
  width: 145px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.header-user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1040px;
  margin: 0 auto 30px;
  padding: 0;
  list-style-type: none;
}

.search-form {
  position: relative;
  display: flex;
  width: 517px;
  min-height: 40px;
  background-image: url("../images/header/icons-search.svg");
  background-repeat: no-repeat;
  background-position: left 16px top 50%;
}

.search-form:focus {
  outline: 2px solid #af4fff;
}

.search-text {
  width: 359px;
  height: 40px;
  padding: 0 0 2px 44px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50px 0 0 50px;
}

.search-text::placeholder {
  opacity: 1;
}

.search-text:focus {
  outline: 2px solid #af4fff;
}

.search-button {
  width: 160px;
  min-height: 40px;
  margin-left: -2px;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:focus {
  outline: 2px solid #af4fff;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.header-user-item {
  margin-right: 26px;
}

.header-user-item:nth-child(3),
.header-user-item:nth-child(4) {
  min-width: 105px;
}

.account:focus {
  outline: 2px solid #af4fff;
}

.account:active .user {
  opacity: 0.6;
}

.header-user-item:nth-child(2) {
  width: 81px;
}

.header-user-item:nth-child(3) {
  margin-left: auto;
  margin-right: 18px;
}

.header-user-item:last-child {
  position: relative;
  margin-right: 0;
}

.navigation {
  margin-top: 15px;
}

.navigation-user-link-out {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
}

.user {
  min-width: 146px;
  margin: 5px 0;
  padding-left: 27px;
  background-image: url("../images/header/icons-cabinet.svg");
  background-repeat: no-repeat;
  background-position: left top 50%;
  text-decoration: none;
  color: #000000;
}

.user:focus {
  outline: 2px solid #af4fff;
}

.user:hover {
  opacity: 0.6;
}

.header-user-link {
  position: relative;
  display: block;
  margin: 5px 0;
  padding-left: 27px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.header-user-link:hover {
  opacity: 0.6;
}

.header-user-link:focus {
  outline: 2px solid #af4fff;
}

.header-user-link:active {
  opacity: 0.3;
}

.header-user-out {
  display: block;
  width: 56px;
  min-height: 30px;
  margin: 5px 0;
  opacity: 0.3;
  color: #000000;
  text-decoration: none;
}

.header-user-out:hover {
  opacity: 0.6;
}

.header-user-out:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
}

.header-user-out:active {
  opacity: 1;
}

.header-user-item:nth-child(2) .header-user-link {
  background-image: url("../images/header/icons-cabinet.svg");
  background-repeat: no-repeat;
  background-position: left top 50%;
}

.header-user-item:nth-child(3) .header-user-link {
  padding-left: 22px;
  background-image: url("../images/header/icons-compare.svg");
  background-repeat: no-repeat;
  background-position: left top 50%;
}

.header-user-item:nth-child(4) .header-user-link {
  padding-left: 45px;
  background-image: url("../images/header/icons-cart.svg");
  background-repeat: no-repeat;
  background-position: left top 50%;
}

.popover-cart {
  position: absolute;
  top: 34px;
  right: -75px;
  z-index: 100;
  display: none;
  width: 320px;
  min-height: 134px;
  margin-top: 6px;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
  box-sizing: border-box;
}

.popover-cart-open {
  display: block;
}

.popover-cart::before {
  position: absolute;
  top: -6px;
  right: 150px;
  content: "";
  width: 14px;
  height: 6px;
  background-image: url("../images/header/triangle.svg");
}

.popover-content {
  height: 100%;
}

.popover-cart-total {
  width: 320px;
  min-height: 44px;
  padding-top: 9px;
  margin-bottom: 20px;
  background-color: #1a1a1a;
  box-sizing: border-box;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 20px;
}

.cart-total-cell {
  padding: 0;
}

.popover-open-cart {
  display: block;
  width: 280px;
  min-height: 50px;
  margin: 20px;
  padding: 14.5px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
}

.popover-open-cart:hover {
  background-color: #ffe17f;
}

.popover-open-cart:focus {
  outline: 2px solid #af4fff;
}

.popover-open-cart:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffe17f;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.cart-item {
  position: relative;
  margin: 20px;
}

.cart-item-link {
  display: flex;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:focus {
  outline: 2px solid #af4fff;
}

.cart-item-link:active {
  opacity: 0.3;
}

.cart-item-image {
  width: 39px;
  height: 43px;
}

.cart-item-text {
  width: 160px;
  margin: 0;
  padding-left: 23px;
}

.delete-cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  background-image: url("../images/header/delete-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.delete-cart:hover {
  opacity: 0.6;
}

.delete-cart:focus {
  outline: 2px solid #af4fff;
}

.delete-cart:active {
  opacity: 0.3;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
  margin: 0;
  margin-left: 60px;
  padding: 0;
  list-style-type: none;
}

.navigation-list-item {
  display: flex;
  min-height: 21px;
  margin-right: 45px;
}

.navigation-link-catalog::after {
  position: absolute;
  content: "";
  top: -19px;
  left: -3px;
  z-index: 10;
  display: none;
  width: 297px;
  height: 54px;
  border: 2px solid #af4fff;
}

.navigation-link-catalog:focus::after {
  display: block;
}

.navigation-list-item:nth-child(1) {
  margin-right: 0;
}

.navigation-list-item:nth-child(2) {
  margin-left: auto;
}

.navigation-list-item:nth-child(4) {
  margin-right: 0;
}

.navigation-list-link,
.navigation-link-catalog {
  display: block;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  outline: none;
}

.header-user-link .navigation-list-link {
  min-width: 20px;
  min-height: 16px;
}

.navigation-list-link:hover {
  opacity: 0.6;
}

.navigation-list-link:focus {
  outline: 2px solid #af4fff;
}

.navigation-list-link:active {
  opacity: 0.3;
}

.navigation-list-item:nth-child(1) > .navigation-list-link {
  width: 236px;
  padding-right: 7px;
}

.navigation-list-button {
  position: absolute;
  top: -15px;
  right: -69px;
  width: 50px;
  height: 50px;
  margin-left: 16px;
  padding: 0;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.navigation-list-item:nth-child(1):hover .navigation-list-button {
  opacity: 1;
}

.navigation-list-item:nth-child(1):active .navigation-list-button {
  opacity: 1;
}

.navigation-list-button::after {
  position: absolute;
  top: 48%;
  left: 15px;
  content: "";
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.navigation-list-button::before {
  position: absolute;
  top: 15px;
  left: 22px;
  content: "";
  width: 2px;
  height: 16px;
  background-color: #000000;
}

.popover-catalog {
  position: relative;
  z-index: 300;
  display: none;
  min-height: 80px;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
}

.popover-catalog-open {
  display: block;
}

.navigation-list-item:first-child {
  position: relative;
}

.catalog-items-list {
  display: flex;
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 230px;
  margin: 0;
}

.catalog-item-link {
  display: block;
  margin-bottom: 20px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.catalog-item-link:last-child {
  margin-bottom: 29px;
}

.search-icon {
  position: absolute;
  top: 12px;
  right: 0;
  bottom: 0;
  left: 16px;
  margin-right: auto;
  fill: #000000;
}

.navigation-icon {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  padding-right: 12px;
  fill: #000000;
}

.main-container {
  position: relative;
  flex-grow: 1;
}

.page-container {
  position: relative;
  width: 1160px;
  margin: 0 auto 70px;
}

.page-container::after {
  position: absolute;
  content: "";
  top: -150px;
  z-index: -2;
  width: 1160px;
  height: 300px;
  background-color: #ffe17f;
}

.carousel-products {
  width: 1160px;
  margin: 0 0 70px;
  padding: 0;
}

.carousel {
  position: relative;
  margin: 0 auto;
}

.slider-control {
  position: absolute;
  justify-content: space-between;
  top: 211px;
  left: 30px;
  display: flex;
  width: 530px;
}

.slider-button {
  z-index: 100;
  width: 20px;
  height: 60px;
  border: none;
  background-color: transparent;
  background-image: url("../images/carousel/arrow.svg");
  cursor: pointer;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  outline: 2px solid #af4fff;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin-right: 20px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border-color: #000000;
  border-style: solid;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus {
  outline: 2px solid #af4fff;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:last-child {
  margin-right: 0;
}

.slider-pagination-current {
  background-color: #000000;
}

.slider {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.carousel-products-number {
  position: absolute;
  top: 81px;
  right: 49px;
  z-index: 0;
  width: 250px;
  height: 135px;
  font-weight: 700;
  font-size: 180px;
  text-align: right;
  color: #ffffff;
}

.slider-item {
  position: relative;
  display: none;
  width: 1160px;
  list-style-type: none;
}

.slider-item-action {
  display: flex;
}

.slider-image {
  width: 560px;
  margin-right: 40px;
}

.slider-description {
  position: relative;
  z-index: 10;
  width: 560px;
  list-style-type: none;
}

.slider-title {
  margin: 122px 0 29px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-text {
  margin: 0 0 51px;
  color: #444444;
}

.pagination-button {
  position: absolute;
  top: 375px;
  right: 0;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  width: 76px;
}

.button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}

.button-about-slider {
  position: relative;
  width: 220px;
  margin-bottom: 45px;
  min-height: 40px;
  box-sizing: border-box;
}

.button-about-slider::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 0;
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
}

.button-about-slider:hover {
  background-color: #ffe17f;
}

.button-about-slider:focus {
  outline: 2px solid #af4fff;
}

.button-about-slider:active {
  background-color: #ffcc33;
}

.about-text:active .button-about-slider::before {
  content: none;
}

.table-row-1 {
  padding: 0;
  padding-bottom: 10px;
  font-size: 36px;
}

.table-row-2 {
  padding: 0;
  padding-right: 18px;
  font-size: 16px;
  color: #444444;
}

.categories {
  width: 1160px;
  margin: 0 auto 70px;
  background-color: #ffffff;
}


.list-categories {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.list-categories-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  outline: none;
  color: #000000;
}

.list-categories-item {
  width: 160px;
  min-height: 253px;
}

.list-categories-item:hover .categories-item {
  background-color: #ffc700;
}

.list-categories-item:focus-within {
  outline: 2px solid #af4fff;
}

.list-categories-item:active {
  opacity: 0.3;
}

.categories-item {
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.list-categories-item-virtual {
  background-image: url("../images/catalog/catalog-images-1.svg");
}

.list-categories-item-monopod {
  background-position: bottom;
  background-image: url("../images/catalog/catalog-images-2.svg");
}

.list-categories-item-cameras {
  background-image: url("../images/catalog/catalog-images-3.svg");
}

.list-categories-item-bracelets {
  background-image: url("../images/catalog/catalog-images-4.svg");
}

.list-categories-item-watches {
  background-image: url("../images/catalog/catalog-images-5.svg");
}

.list-categories-item-quadcopter {
  background-image: url("../images/catalog/catalog-images-6.svg");
}

.information {
  position: relative;
  min-height: 391px;
  margin-bottom: 70px;
  background-color: #f0f0f0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 26%, rgba(240, 240, 240, 1) 26%);
}

.information-container {
  position: relative;
  display: flex;
  width: 1160px;
  min-height: 289px;
  margin: 0 auto;
}

.information-title {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 190px;
  margin: 0 123px 0 0;
  padding: 64px 0 65px;
}

.information-title::after {
  position: absolute;
  content: "";
  top: 0;
  left: 280px;
  bottom: 0;
  width: 7px;
  background-color: #000000;
}

.information-button {
  position: relative;
  z-index: 0;
  width: 160px;
  min-height: 40px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
}

.information-button::before {
  position: absolute;
  content: "";
  top: 40%;
  left: 0;
  z-index: -1;
  width: 160px;
  height: 8px;
  background-color: #ffe17f;
}

.information-button:hover {
  background-color: #ffe17f;
}

.information-button:focus {
  outline: 2px solid #af4fff;
}

.information-button:active {
  background-color: #ffcc33;
}

.information-button-action {
  position: relative;
  width: 280px;
  min-height: 40px;
  margin: 0;
  padding-left: 5px;
  padding-right: 120px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffe17f;
  background-color: #000000;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

.information-button-action:hover {
  color: rgba(255, 225, 127, 0.5);
}

.information-button-action:focus {
  outline: 2px solid #af4fff;
}

.information-button-action:active {
  color: rgba(255, 225, 127, 0.3);
}

.information-item {
  display: block;
  width: 280px;
  min-height: 40px;
  margin-bottom: 35px;
  list-style-type: none;
}

.information-item:last-child {
  margin: 0;
}

.information-description {
  display: flex;
  width: 694px;
}

.description-block-text {
  max-width: 475px;
}

.information-description-title {
  display: block;
  margin: 74px 0 34px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.information-description-text {
  margin: 0;
  color: #444444;
}

.information-image {
  margin: 77px 0 0 auto;
}

.delivery {
  width: 1160px;
  height: 100px;
  margin: 0 auto 70px;
  display: flex;
  background-color: #f0f0f0;
}

.delivery-under-order {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 100px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background-color: #f0f0f0;
  border: none;
  padding: 0;
  cursor: pointer;
}

.delivery-image {
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
}

.delivery-image-car {
  margin: 35px 39px;
}

.delivery:hover .delivery-image {
  background-color: #ffc700;
}

.delivery:hover .delivery-image-info {
  opacity: 1;
}

.delivery-under-order:focus {
  outline: 2px solid #af4fff;
}

.delivery:active {
  opacity: 0.3;
}

.delivery-text {
  margin: 0;
  padding-top: 40px;
}

.image-info {
  width: 40px;
  height: 40px;
  margin: 30px 42.5px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.delivery-image-info {
  display: block;
  padding: 14px 19px;
  opacity: 0.3;
}

.about-contacts {
  display: flex;
  width: 1160px;
  margin: 0 auto 70px;
}

.about {
  position: relative;
  width: 520px;
  margin-right: 108px;
}

.about::before {
  position: absolute;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.contacts {
  width: 532px;
}

.contacts::before {
  position: absolute;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-title {
  margin: 47px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-description {
  max-width: 500px;
  margin: 0 0 30px;
  color: #444444;
}

.about-transport-company {
  margin: 0 0 30px;
  padding: 0;
}

.about-transport-company-item {
  position: relative;
  margin-bottom: 19px;
  padding-left: 37.5px;
  line-height: 20px;
  letter-spacing: -0.02em;
  font-weight: 700;
  list-style-type: none;
}

.about-transport-company-item::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 3.5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffc700;
}

.about-transport-company-item:last-child {
  margin-bottom: 0;
}

.button-about {
  position: relative;
  width: 270px;
  min-height: 40px;
  box-sizing: border-box;
}

.button-about::before {
  position: absolute;
  content: "";
  top: 40%;
  left: 0;
  z-index: -1;
  width: 270px;
  height: 8px;
  background-color: #ffe17f;
}

.button-about:hover {
  background-color: #ffe17f;
}

.button-about:focus {
  outline: 2px solid #af4fff;
}

.button-about:active {
  background-color: #ffcc33;
}

.button-about-contact {
  position: relative;
  width: 259px;
  min-height: 40px;
  box-sizing: border-box;
}

.button-about-contact::before {
  position: absolute;
  content: "";
  top: 40%;
  left: 0;
  z-index: -1;
  width: 259px;
  height: 8px;
  background-color: #ffe17f;
}

.button-about-contact:hover {
  background-color: #ffe17f;
}

.button-about-contact:focus {
  outline: 2px solid #af4fff;
}

.button-about-contact:active {
  background-color: #ffcc33;
}

.about-text {
  display: block;
  padding: 10px;
}

.contacts-title {
  margin: 47px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-text {
  margin: 0 0 30px;
  font-style: normal;
  color: #444444;
}

.contacts-address {
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
  font-style: normal;
  color: #444444;
}

.contacts-subtitle {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.contacts-phone {
  font-style: normal;
  color: #444444;
}

.contacts-phone:focus {
  outline: 2px solid #af4fff;
}

.contacts-schedule {
  margin: 0 0 30px;
  padding: 0;
  color: #444444;
  list-style-type: none;
}

.subscribe {
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}

.subscribe-row {
  display: flex;
  margin: 0 auto 144px;
}

.subscribe-title {
  width: 348px;
  margin: 64px 252px 0 6px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscribe-text {
  width: 560px;
  margin: 74px 0 0;
  color: #444444;
}

.subscribe-form {
  display: flex;
  margin-bottom: 56px;
  color: #444444;
}

.text-email {
  width: 541px;
  height: 54px;
  padding: 0;
  padding-left: 16px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid #c4c4c4;
}

.text-email::placeholder {
  opacity: 0.5;
}

.text-email:focus {
  background-color: #dcdcdc;
  outline: none;
}

.text-email:invalid {
  border-bottom: 3px solid #ff3d3d;
}

.subscribe-button {
  width: 253px;
  min-height: 57px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  font-size: 18px;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid #cecece;
  box-sizing: border-box;
}

.subscribe-button:hover {
  opacity: 0.6;
}

.subscribe-button:focus {
  outline: 2px solid #af4fff;
}

.subscribe-button:active {
  opacity: 0.3;
}

.subscribe-free {
  width: 160px;
  min-height: 30px;
  margin: 0 0 0 auto;
  padding-top: 13.5px;
  text-align: end;
  color: #444444;
  background-image: url("../images/main/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.page-footer {
  background-color: #444444;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
}

.footer-logo {
  width: 145px;
  height: 36px;
  margin-top: 62px;
  margin-bottom: 35px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:focus-within {
  outline: 2px solid #af4fff;
}

.footer-logo:active {
  opacity: 0.3;
}

.navigation-logo {
  outline: none;
}

.footer-information {
  display: flex;
  margin-bottom: 47px;
}

.footer-information-address {
  width: 239px;
  min-height: 40px;
  margin-right: 112px;
}

.footer-address-text {
  margin: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-information-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-information-item {
  position: relative;
  display: block;
  max-width: 125px;
  min-height: 21px;
  margin-right: 35px;
  margin-bottom: 15px;
}

.footer-information-item:last-child {
  margin-right: 0;
}

.footer-information-button {
  display: block;
  padding-top: 3px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-information-button::after {
  position: absolute;
  content: "";
  top: 25px;
  left: 0;
  display: none;
  width: 100%;
  height: 2px;
  background-color: #ffc700;
}

.footer-information-button:hover {
  color: #ffc700;
}

.footer-information-item:hover .footer-information-button::after {
  display: block;
}

.footer-information-button:focus {
  outline: 2px solid #af4fff;
}

.footer-information-button:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-information-contacts {
  width: 174px;
  min-height: 20px;
  margin-left: auto;
}

.footer-contacts-phone {
  display: block;
  padding-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-contacts-phone:hover {
  color: #ffc700;
}

.footer-contacts-phone:focus {
  outline: 2px solid #af4fff;
}

.footer-contacts-phone:active {
  color: #ffc700;
  opacity: 0.3;
}


.footer-social {
  display: flex;
  margin-bottom: 46px;
}

.footer-social::before {
  position: absolute;
  content: "";
  order: 2;
  width: 80px;
  height: 7px;
  margin-top: 16.5px;
  margin-left: 0;
  background-color: #ffc500;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 390px 0 505px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  order: 3;
  margin-right: 15px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  position: relative;
  display: block;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-link:hover {
  background-color: #ffc700;
}

.footer-social-link:focus {
  outline: 2px solid #af4fff;
}

.footer-social-link:active {
  background-color: #ffc700;
  fill-opacity: 0.3;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #444444;
}

.footer-social-htmlacademy {
  width: 115px;
  height: 33px;
  margin: 0;
}

.footer-logo-html {
  fill: #ffc700;
}

.footer-social-htmlacademy:hover .footer-logo-html {
  fill: #ffffff;
}

.footer-social-htmlacademy:focus {
  outline: 2px solid #af4fff;
}

.footer-social-htmlacademy:active .footer-logo-html {
  fill: #ffffff;
  opacity: 0.3;
}

.account {
  display: flex;
  min-width: 203px;
  cursor: pointer;
}

.inner-header {
  width: 1040px;
  margin: 40px auto 26px;
}

.inner-header-title {
  width: 541px;
  margin: 0 0 16px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-products-monopod {
  background-color: #f0f0f0;
}

.catalog {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.breadcrumbs-item {
  position: relative;
  min-height: 19px;
  display: block;
  margin-bottom: 10px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  right: 16px;
  bottom: 6px;
  width: 4px;
  height: 7px;
  background-image: url("../images/catalog/arrow-little.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  display: block;
  min-height: 19px;
  margin-right: 36px;
  font-size: 16px;
  line-height: 19px;
  list-style-type: none;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-right-column {
  width: 840px;
  background-color: #ffffff;
}

.catalog-products-text {
  margin: 25px 0 69px 60px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-monopod {
  position: relative;
  width: 200px;
  margin: 0 0 44px 60px;
  padding: 0;
  border: none;
}

.catalog-filter-monopod:nth-child(3) {
  margin-bottom: 0;
}

.catalog-filter-monopod::after {
  position: absolute;
  content: "";
  top: -38px;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.filter-monopod-title {
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}

.range {
  position: relative;
  margin-top: 22px;
  max-width: 200px;
}

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  margin-bottom: 35px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  padding: 0;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.range-toggle:focus {
  outline: 2px solid #af4fff;
}

.range-toggle:active {
  background-color: #000000;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range-wrapper-inputs {
  position: absolute;
  top: 16px;
  display: flex;
  justify-content: space-between;
  min-width: 95px;
}

.catalog-filter-label {
  display: flex;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.catalog-filter-label:focus-within {
  color: rgba(0, 0, 0, 0.3);
  outline: 2px solid #af4fff;
  opacity: 1;
}

.range-input {
  width: 15px;
  padding: 0 0 0 2px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  border: none;
  color: #000000;
  background-color: transparent;
  -webkit-appearance: textfield;
  appearance: textfield;
  outline: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-min {
  position: absolute;
  left: -14px;
}

.range-max {
  position: absolute;
  right: -32px;
}

.button-show-filter {
  position: relative;
  z-index: 0;
  width: 220px;
  min-height: 40px;
  margin-left: 60px;
  margin-bottom: 30px;
  padding: 10px 0;
  border: none;
  background-color: transparent;
}

.button-show-filter::after {
  position: absolute;
  content: "";
  left: 0;
  top: 40%;
  z-index: -1;
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
}

.button-show-filter:hover {
  background-color: #ffe17f;
}

.button-show-filter:focus {
  outline: 2px solid #af4fff;
}

.button-show-filter:active {
  background-color: #ffcc33;
}

.button-show-filter:active::after {
  display: none;
}

.filter-monopod-list {
  min-height: 95px;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  list-style-type: none;
}

.filter-monopod-item:not(:last-child) {
  margin-bottom: 17px;
}

.control {
  position: relative;
  display: block;
  min-height: 20px;
  padding-left: 36px;
}

.control:hover {
  opacity: 0.6;
}

.control-input:focus ~ .control-mark {
  outline: 2px solid #af4fff;
}

.control:active {
  opacity: 0.3;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  margin: 0;
  background-image: url("../images/catalog/marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border-color: #000000;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  border-color: #000000;
}

.control-label {
  display: block;
  max-width: 164px;
  font-size: 16px;
  line-height: 19px;
}

.right-column-text {
  max-width: 160px;
  min-height: 19px;
  margin: 25.5px 0 25.5px 40px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 70px;
  background-color: #f0f0f0;
}

.select-control {
  width: 159px;
  min-height: 30px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  outline: 2px solid #af4fff;
}

.select-control:active {
  opacity: 0.3;
}

.catalog-products-sorting {
  display: flex;
  width: 60px;
  height: 30px;
  margin: 20px 40px 0 0;
}

.catalog-sorting-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
  fill-opacity: 0.2;
}

.products-monopod-sorting {
  position: relative;
  width: 30px;
  height: 30px;
}

.products-monopod-sorting:last-child {
  transform: rotate(180deg);
}

.products-monopod-sorting:hover .catalog-sorting-icon {
  fill-opacity: 0.5;
}

.products-monopod-sorting:focus {
  outline: 2px solid #af4fff;
  fill-opacity: 0.2;
}

.products-monopod-sorting:active .catalog-sorting-icon {
  fill-opacity: 1;
}

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
  margin: 0;
  padding: 70px 40px 44px;
  background-color: #ffffff;
  list-style-type: none;
}

.product-card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.label-new {
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  min-height: 60px;
  background-image: url("../images/catalog/label-new.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.product-card-detailed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 360px;
  height: 380px;
  background-color: #f0f0f0;
  opacity: 0.8;
  cursor: pointer;
}

.product-card-link::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 40%;
  left: 0;
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
}

.card-detailed-close {
  display: none;
}

.product-card:hover .card-detailed-close {
  display: block;
}

.product-card:focus-within {
  outline: 2px solid #af4fff;
}

.product-card:active .card-detailed-close {
  display: block;
}

.product-card:active .product-card-link::before {
  background-color: #ffc700;
}

.product-card-container {
  display: block;
  height: 380px;
  outline: none;
}

.product-card-link {
  position: absolute;
  top: 45%;
  left: 70px;
  z-index: 10;
  min-height: 40px;
  width: 220px;
  padding: 10px 5px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.product-card:hover .product-card-content {
  opacity: 0.6;
}

.product-card:active .product-card-content {
  opacity: 0.3;
}

.product-card-title {
  width: 240px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.button-pagination-show {
  width: 760px;
  min-height: 55px;
  margin: 0 0 44px 40px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  background: #ffffff;
  border: 3px solid #e5e5e5;
}

.button-pagination-show:hover {
  border: 3px solid #000000;
}

.button-pagination-show:focus {
  outline: 2px solid #af4fff;
}

.button-pagination-show:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  max-width: 760px;
  min-height: 71px;
  margin: 0 0 78px 40px;
  padding: 0;
  list-style-type: none;
  background-color: #ebebeb;
  opacity: 0.71;
}

.pagination-item {
  display: flex;
}

.pagination-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  min-width: 128px;
  min-height: 71px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #000000;
}

.pagination-item:nth-child(2) {
  margin-left: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-next {
  width: 141px;
}

.pagination-item-button:hover {
  background-color: #dcdcdc;
}

.pagination-item-button:focus {
  outline: 2px solid #af4fff;
}

.pagination-item-button:active {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 15.5px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
  box-sizing: border-box;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:focus {
  outline: 2px solid #af4fff;
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-order {
  width: 760px;
}

.modal-close-button {
  position: absolute;
  top: 74px;
  right: 70px;
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/modal/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  outline: 2px solid #af4fff;
}

.modal-close-button:active {
  opacity: 0.3;
}

.order-form {
  display: grid;
  grid-template-columns: 360px 140px 180px;
  gap: 42px 40px;
}

.modal-title {
  margin: 0 236px 42px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.order-form-email {
  margin-bottom: 20px;
  grid-column: 2 / -1;
}

.order-form-request {
  grid-column: 1 / 3;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.order-text {
  margin-bottom: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.order-form-field {
  height: 60px;
  padding: 0;
  padding-left: 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #f0f0f0;
  border: none;
  box-sizing: border-box;
}

.field-icon-email {
  background-image: url("../images/modal/icon-email.svg");
  background-repeat: no-repeat;
  background-position: top 24px right 20px;
}

.order-form-field:hover {
  background-color: #dcdcdc;
}

.order-form-field:focus {
  outline: 2px solid #af4fff;
}

.field-icon-email:invalid,
.field-quantity:invalid {
  border: 2px solid #ff3d3d;
}

.field-icon-email:valid {
  border: none;
}

.field-icon-email:invalid + .form-email-text {
  color: #ff3d3d;
}

.form-email-text {
  font-size: 14px;
  line-height: 20px;
}

.field-icon-name {
  margin-bottom: 20px;
  background-image: url("../images/modal/icons-cabinet.svg");
  background-repeat: no-repeat;
  background-position: top 24px right 20px;
}

.order-send {
  position: relative;
  z-index: 5;
  grid-column: 1 / -1;
  justify-self: start;
  width: 200px;
  padding: 10px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.order-send::before {
  position: absolute;
  content: "";
  top: 45%;
  left: 0;
  z-index: -1;
  width: 200px;
  height: 8px;
  background-color: #ffe17f;
}

.order-send:hover {
  background-color: #ffe17f;
}

.order-send:focus {
  outline: 2px solid #af4fff;
}

.order-send:active {
  background-color: #ffcc33;
}

.order-form-quantity {
  position: relative;
}

.field-quantity {
  justify-content: center;
  height: 60px;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #f0f0f0;
  border: none;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.field-quantity:focus {
  outline: 2px solid #af4fff;
}

.field-quantity::-webkit-outer-spin-button,
.field-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.order-number {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  margin-top: 34px;
  padding: 29px 22px;
  text-decoration: none;
  box-sizing: border-box;
}

.order-number:hover {
  background-color: #DCDCDC;
  opacity: 0.6;
}

.order-number:focus {
  outline: 2px solid #af4fff;
}

.order-number:active {
  opacity: 0.3;
}

.order-number-plus {
  right: 0;
}

.order-number-minus::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.order-number-plus::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.order-number-plus::before {
  position: absolute;
  content: "";
  top: 22px;
  left: 29px;
  width: 2px;
  height: 16px;
  background-color: #000000;
}

.order-form-field::placeholder {
  opacity: 0.3;
}

.tooltip {
  position: absolute;
  top: -3px;
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.tooltip-toggle {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: #ffe17f;
  background-image: url("../images/main/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: -129px;
  z-index: 10;
  display: none;
  width: 200px;
  padding: 19px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.tooltip-text::after {
  position: absolute;
  content: "";
  top: -6px;
  right: 50px;
  width: 14px;
  height: 6px;
  bottom: 100%;
  background-image: url("../images/header/triangle.svg");
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.modal-container-close {
  display: none;
}
